$button-color: #2ecc71;
$button-color-hover: darken($button-color, 10%);

.nav-bar {
  display: flex;
  padding: 20px;
}

.chart-wrapper {
  max-width: 700px;
  position: relative;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
ul {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
}

h1 {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
}

li {
  list-style-type: none;
}

.btn {
  position: relative;
  font-size: 1em;
  margin: 32px 0;
  padding: 0;

  overflow: hidden;
  outline: none;
  border-width: 0;

  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: $button-color;
  color: white;

  transition: background-color .3s;

  &:hover,
  &:focus {
    background-color: $button-color-hover;
  }
  span {
    display: block;
    padding: 12px 24px;
  }

  &:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    transform: translate(-50%, -50%);
  }
  &:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
  }
}

#file-selector {
  color: transparent;
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
  &:before {
    content: 'Select data json';
    margin: 30px 0;
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 2px;
    padding: 12px 24px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 1em;

    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    overflow: hidden;

    &:hover {
      border: black;
    }
    &:active {
      outline: 0;
      &:before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
      }
    }

  }
}

.text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  background-color: white;
  position: absolute;
  left: 0;
  justify-content: center;
}

.chart-bar {
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  margin-left: 130px;
  background: repeating-linear-gradient(
                  to right,
                  #ddd,
                  #ddd 1px,
                  #fff 1px,
                  #fff 5%
  );

  &:after {
    content: "";
    display: block;
    background-image: linear-gradient(-90deg, #00C9FF, #bada55);
    border-radius: 0 4px 4px 0;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .4s ease;
  }
  &:hover,
  &:focus {
    &:after {
      transition: all .4s ease;
      background-image: linear-gradient(-90deg, darken(#00C9FF, 10%), darken(#bada55, 10%));
    }
  }
}

@for $i from 1 through 100 {
  .fill-value-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}

html, body {
  height: 500px;
  font-family: "Roboto", sans-serif;
}
