<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="js/javascript.js"></script>

<nav class="nav-bar">
    <input type="file" id="file-selector">
    <button class="btn button" onclick="createChart()"><span>Create Chart</span></button>
</nav>
<section class="chart-wrapper">
    <h1>A title of the graph</h1>
    <ul id="chart"></ul>
</section>



