.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px; }

.chart-wrapper {
  max-width: 700px;
  position: relative;
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }

h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em; }

li {
  list-style-type: none; }

.btn {
  position: relative;
  font-size: 1em;
  margin: 32px 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  border-width: 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: white;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s; }
  .btn:hover, .btn:focus {
    background-color: #25a25a; }
  .btn span {
    display: block;
    padding: 12px 24px; }
  .btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, 0.3);
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    -webkit-transition: width .2s ease-out, padding-top .2s ease-out;
    -o-transition: width .2s ease-out, padding-top .2s ease-out;
    transition: width .2s ease-out, padding-top .2s ease-out; }

#file-selector {
  color: transparent; }
  #file-selector::-webkit-file-upload-button {
    visibility: hidden; }
  #file-selector:before {
    content: 'Select data json';
    margin: 30px 0;
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 2px;
    padding: 12px 24px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 1em;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden; }
    #file-selector:before:hover {
      border: black; }
    #file-selector:before:active {
      outline: 0; }
      #file-selector:before:active:before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }

.text {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 130px;
  background-color: white;
  position: absolute;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.chart-bar {
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  margin-left: 130px;
  background: -o-repeating-linear-gradient(left, #ddd, #ddd 1px, #fff 1px, #fff 5%);
  background: repeating-linear-gradient(to right, #ddd, #ddd 1px, #fff 1px, #fff 5%); }
  .chart-bar:after {
    content: "";
    display: block;
    background-image: -webkit-gradient(linear, right top, left top, from(#00C9FF), to(#bada55));
    background-image: -o-linear-gradient(right, #00C9FF, #bada55);
    background-image: linear-gradient(-90deg, #00C9FF, #bada55);
    border-radius: 0 4px 4px 0;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; }
  .chart-bar:hover:after, .chart-bar:focus:after {
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    background-image: -webkit-gradient(linear, right top, left top, from(#00a1cc), to(#a8cf2d));
    background-image: -o-linear-gradient(right, #00a1cc, #a8cf2d);
    background-image: linear-gradient(-90deg, #00a1cc, #a8cf2d); }

.fill-value-1:after {
  width: 1%; }

.fill-value-2:after {
  width: 2%; }

.fill-value-3:after {
  width: 3%; }

.fill-value-4:after {
  width: 4%; }

.fill-value-5:after {
  width: 5%; }

.fill-value-6:after {
  width: 6%; }

.fill-value-7:after {
  width: 7%; }

.fill-value-8:after {
  width: 8%; }

.fill-value-9:after {
  width: 9%; }

.fill-value-10:after {
  width: 10%; }

.fill-value-11:after {
  width: 11%; }

.fill-value-12:after {
  width: 12%; }

.fill-value-13:after {
  width: 13%; }

.fill-value-14:after {
  width: 14%; }

.fill-value-15:after {
  width: 15%; }

.fill-value-16:after {
  width: 16%; }

.fill-value-17:after {
  width: 17%; }

.fill-value-18:after {
  width: 18%; }

.fill-value-19:after {
  width: 19%; }

.fill-value-20:after {
  width: 20%; }

.fill-value-21:after {
  width: 21%; }

.fill-value-22:after {
  width: 22%; }

.fill-value-23:after {
  width: 23%; }

.fill-value-24:after {
  width: 24%; }

.fill-value-25:after {
  width: 25%; }

.fill-value-26:after {
  width: 26%; }

.fill-value-27:after {
  width: 27%; }

.fill-value-28:after {
  width: 28%; }

.fill-value-29:after {
  width: 29%; }

.fill-value-30:after {
  width: 30%; }

.fill-value-31:after {
  width: 31%; }

.fill-value-32:after {
  width: 32%; }

.fill-value-33:after {
  width: 33%; }

.fill-value-34:after {
  width: 34%; }

.fill-value-35:after {
  width: 35%; }

.fill-value-36:after {
  width: 36%; }

.fill-value-37:after {
  width: 37%; }

.fill-value-38:after {
  width: 38%; }

.fill-value-39:after {
  width: 39%; }

.fill-value-40:after {
  width: 40%; }

.fill-value-41:after {
  width: 41%; }

.fill-value-42:after {
  width: 42%; }

.fill-value-43:after {
  width: 43%; }

.fill-value-44:after {
  width: 44%; }

.fill-value-45:after {
  width: 45%; }

.fill-value-46:after {
  width: 46%; }

.fill-value-47:after {
  width: 47%; }

.fill-value-48:after {
  width: 48%; }

.fill-value-49:after {
  width: 49%; }

.fill-value-50:after {
  width: 50%; }

.fill-value-51:after {
  width: 51%; }

.fill-value-52:after {
  width: 52%; }

.fill-value-53:after {
  width: 53%; }

.fill-value-54:after {
  width: 54%; }

.fill-value-55:after {
  width: 55%; }

.fill-value-56:after {
  width: 56%; }

.fill-value-57:after {
  width: 57%; }

.fill-value-58:after {
  width: 58%; }

.fill-value-59:after {
  width: 59%; }

.fill-value-60:after {
  width: 60%; }

.fill-value-61:after {
  width: 61%; }

.fill-value-62:after {
  width: 62%; }

.fill-value-63:after {
  width: 63%; }

.fill-value-64:after {
  width: 64%; }

.fill-value-65:after {
  width: 65%; }

.fill-value-66:after {
  width: 66%; }

.fill-value-67:after {
  width: 67%; }

.fill-value-68:after {
  width: 68%; }

.fill-value-69:after {
  width: 69%; }

.fill-value-70:after {
  width: 70%; }

.fill-value-71:after {
  width: 71%; }

.fill-value-72:after {
  width: 72%; }

.fill-value-73:after {
  width: 73%; }

.fill-value-74:after {
  width: 74%; }

.fill-value-75:after {
  width: 75%; }

.fill-value-76:after {
  width: 76%; }

.fill-value-77:after {
  width: 77%; }

.fill-value-78:after {
  width: 78%; }

.fill-value-79:after {
  width: 79%; }

.fill-value-80:after {
  width: 80%; }

.fill-value-81:after {
  width: 81%; }

.fill-value-82:after {
  width: 82%; }

.fill-value-83:after {
  width: 83%; }

.fill-value-84:after {
  width: 84%; }

.fill-value-85:after {
  width: 85%; }

.fill-value-86:after {
  width: 86%; }

.fill-value-87:after {
  width: 87%; }

.fill-value-88:after {
  width: 88%; }

.fill-value-89:after {
  width: 89%; }

.fill-value-90:after {
  width: 90%; }

.fill-value-91:after {
  width: 91%; }

.fill-value-92:after {
  width: 92%; }

.fill-value-93:after {
  width: 93%; }

.fill-value-94:after {
  width: 94%; }

.fill-value-95:after {
  width: 95%; }

.fill-value-96:after {
  width: 96%; }

.fill-value-97:after {
  width: 97%; }

.fill-value-98:after {
  width: 98%; }

.fill-value-99:after {
  width: 99%; }

.fill-value-100:after {
  width: 100%; }

html, body {
  height: 500px;
  font-family: "Roboto", sans-serif; }
